---
layout: 'base.njk'
---
       

        <div class="padding-global">
           <div class="max-width">
               <article class="main-article">
                 <div class="container container--narrow">
                   <h5> {{ category }}</h5>
                      <h1 class="article-title">
                          {{ title }}
                      </h1>
    
                  <figure class="main-article__figure">
                     <img src="{{ image }}" alt="{{ imageAlt }}">
                     <figcaption>
                        {{ imageAlt }}
                     </figcaption>
                  </figure>
    
                 {{content | safe }}
    
   
  
                </div>
             </article>



<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Similar Articles</h2>
    
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse -%}
         {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</section> 

<section>
                        <div class="padding-global">
                           <div class="max-width">
                            <div class="hero-component flex">
                                <div class="flex-text">
                                    <div class="tag"><p>My workflow
                                    </p><div class="line-small"></div></div>
                                    <h2>
                                        <span class="text-span">
                                            Steps to Outranking Others
                                        </span> 
                                    </h2>
                                    <p>
                                        A clear working process is a prerequisite for success. Here’s a quick overview of how I start and complete a writing project.
                                    </p>
                                    <div class="call-box">
                                        <h2>Prefer written communication? </h2>
                                        <p>you can either complete the attached form or reach out directly at tobiwrites26@gmail.com. Expect a reply within 24 hours.

                                        </p>
                                        <button>LET'S TALK</button>
                                        <p>All queries are replied within 24hrs.</p>
                                    </div>
                                </div>
                                <div class="flex-text border">
                                    <div class="services flexed">
                                        <h2>1</h2>
                                        <div>
                                            <h4>
                                                Inroduction
                                            </h4>
                                            <p>
                                                We'll start with a conversation to understand your needs.
    
                                            </p>
                                        </div>
                                        
                                    </div>
                                    <div class="services flexed">
                                        <h2>2</h2> 
                                        <div>
                                            <h4>
                                                Preparation 
                                            </h4>
                                            <p>
                                                You'll receive a detailed questionnaire for insights.
    
    
                                            </p>
                                        </div>
                                       
                                    </div>
                                    <div class="services flexed"> 
                                        <h2>3</h2> 
                                        <div>
                                            <h4>
                                                Creation 
                                            </h4>
                                            <p>
                                                I draft content that aligns with your objectives.
    
                                            </p>
                                        </div>  
                                        
                                    </div>
                                    <div class="services flexed"> 
                                        <h2>4</h2>
                                        <div>
                                            <h4>
                                                Finalization
                                            </h4>
                                            <p>
                                                I'll refine the content based on your feedback.
    
    
                                            </p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                           </div>
                        </div>
                    </section>

   
           </div>
        </div>
        

