 


 <nav class="navbar">
        <div class="brand-title">
            <img src="/assets/blog/logot.png"/>

            
        </div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
  
        <div class="navbar-links">
          <ul>
              <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/portfolio">Portfolio</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
          </ul>
        </div>
      </nav>