 


 <div class="top-bar">
            <nav class="navbar">
                <div class="brand-titles">
                    <a href="index.html">
                      <div class="brand-link">
                       
                        <img src="/assets/blog/logot (1).png" alt="tobiwrites logo">
                        <h4>Tobi Writes</h4>
                      </div>
                    </a>
            
                </div>
                
                  <a href="#" class="toggle-button">
                      <span class="bar"></span>
                      <span class="bar"></span>
                      <span class="bar"></span>
                  </a>
              
            
                <div class="navbar-links">
                    
                  <ul>
                      <li><a href="/" >Home</a></li>
                      <li><a href="/portfolio">Portfolio</a></li>
                      <li><a href="/#service" >Services</a></li>
                      <li><a href="#contact" >Contact</a></li>
                      <li><a href="/blog" >Blog</a></li>
                   </ul>
                   
                </div>
                
            </nav>
            <button class="abso"><a href="https://read.cv/tobiopeyemi" target="_blank">READ MY CV</a></button>
        </div>

       