---
title: about Tobi
layout: 'base.njk'
---
  
   
    
      
<section class="rev">


  
  <div class="flex-groups centere">
      <div class="flow wide">
        <h1 class="section-title">About Me</h1>
        <p>Hello,

Welcome to my page. Everyone can write, but it is pretty challenging to find a writer that can effectively articulate your brand and message, thereby bringing it to life.

I have always been an ardent fan of Technology, and I constantly look for new ways to improve myself. This is why I continuously attend meetups, take certification courses and conduct extensive research on blockchain technology. The NFT and financial market have been making recent news with new developments at the ready.

With the knowledge and understanding of this subject, writing and researching Cryptocurrency, Blockchain, NFTs, the Metaverse, Web 3.0, and DeFi comes naturally to me.

Look no further if you need a writer with extensive experience creating high-quality content! I approach each job uniquely to meet your requirements and effectively communicate what you would love to pass across.

I also double as an SEO Specialist with vast experience in Google Analytics, Microsoft Word, Excel, Surfer SEO, Ahref, SEMRush, and other SEO tools. I am familiar with content writing tools such as Jasper AI and Grammarly.

Hit me up if you'd like to learn how I can provide exceptional Crypto writing and SEO services for you.</p>
        <p>Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
        <div class="flex-group">
          <a  href='mailto:tobiwrites26@gmail.com? subject=Hello' target="_top" class="btn btn--primary">Hire Me</a>
          <a href="https://read.cv/tobiopeyemi" class="btn btn--neutral">Read CV</a>
        </div>
      </div>
      <div class="about-img">
        <img src="../assets/blog/amure.jpg" alt="amure tobi"  class="amure skeleton">
      </div>
  </div>
</section>

<section class="flex-groups rev ">
   <div class="wide">
     <h2>Get In Touch</h2>
     <p>Stuck with a content creation or strategy project you think I can help you with? Fill the form below and I’ll get back ASAP.


I’m currently booking projects from 1st of this months. Do well to reserve your spot now or join the waitlist.</p>
   </div>
   <form action="https://formsubmit.co/tobiwrites26@gmail.com" method="POST">
                    <fieldset>
                      <div>
                          <label for="name">Name</label>
                          <input   type="text" id="name" name="name" required placeholder="Your Name"/>
                      </div>

                      <div>
                          <label for="mail">Mail</label>
                          <input  type="email" id="mail"  name="mail" required placeholder="example@email.com"/>
                      </div>

                      <div>
                          <label for="company">Company </label>
                          <input type="text" id="company" name="company" minlength="2" placeholder="Your company"/>
                      </div>
                      
                      
                    </fieldset>

                   
                    <fieldset>
                        <div>
                            <label>Tell me about your project</label>
                            <input type="text" placeholder="Enter a detailed description" class="text-area"/>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="btn">
                            <input type="submit" class="btn btn--primary"></input>
                        </div>
                        
                    </fieldset>
                    
                    
                        
                 </form>
</section> 
    
    
 