---
title: Contact
layout: 'base.njk'

---
  
   
    
      

<section class="flex-groups rev">

   
   <div class="wide">
      <h1>Contact Me</h1>
       <p>Stuck with a content creation or strategy project you think I can help you with? Fill the form below and I’ll get back ASAP.


          I’m currently booking projects from 1st of this months. Do well to reserve your spot now or join the waitlist.</p>
   </div>
   <form action="https://formsubmit.co/ajeyinka12@email.com" method="POST">
                    <fieldset>
                      <div>
                          <label for="name">Name</label>
                          <input   type="text" id="name" name="name" required placeholder="Your Name"/>
                      </div>

                      <div>
                          <label for="mail">Mail</label>
                          <input  type="email" id="mail"  name="mail" required placeholder="example@email.com"/>
                      </div>

                      <div>
                          <label for="company">Company </label>
                          <input type="text" id="company" name="company" minlength="2" placeholder="Your company"/>
                      </div>
                      
                      
                    </fieldset>

                   
                    <fieldset>
                        <div>
                            <label>Tell me about your project</label>
                            <input type="text" placeholder="Enter a detailed description" class="text-area"/>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="btn">
                            <input type="submit" class="btn btn--primary"></input>
                        </div>
                        
                    </fieldset>
                    
                    
                        
                 </form>

                 
</section> 
<section>

    <div class="wrapper">
                            <h2>FAQs</h2>
                            <p>Got a question about...?</p>
                          
                            <div class="accordion">
                          
                              <div class="accordion-panel">
                                <h2 id="panel1-title">
                                  <button class="accordion-trigger" aria-expanded="true" aria-controls="accordion1-content">
                                    What happens after filling the form?
                                  </button>
                                </h2>
                                <div class="accordion-content" role="region" aria-labelledby="panel1-title" aria-hidden="false" id="panel1-content">
                                  <div>
                                    <p>I’ll review your message and get back to you within three(3) working days. For a complete project description, I may require you to fill a project brief or hop on a quick discovery call. If we’re still a great fit after these arrangements, I’ll work on the necessary project details, send them over for confirmation, and then commence work.</p>
                                  </div>
                                </div>
                              </div>
                          
                              <div class="accordion-panel">
                                <h2 id="panel2-title">
                                  <button class="accordion-trigger" aria-expanded="false" aria-controls="accordion1-content">
                                     What are your rate like?
                                  </button>
                                </h2>
                                <div class="accordion-content" role="region" aria-labelledby="panel2-title" aria-hidden="true" id="panel2-content">
                                  <div>
                                       <p>For blog posts of ~1500 words, I charge $500. Pricing for my content strategy service generally depends. Kindly get in touch to know more.</p>
                                  </div>
                                </div>
                              </div>
                          
                              <div class="accordion-panel">
                                <h2 id="panel3-title">
                                  <button class="accordion-trigger" aria-expanded="false" aria-controls="accordion1-content">
                                    Do you Ghost write?
                                  </button>
                                </h2>
                                <div class="accordion-content" role="region" aria-labelledby="panel1-title" aria-hidden="true" class="accordion-content" id="panel3-content">
                                  <div>
                                    <p>Yes, of course. This however attracts an additional 20% fee since my name won’t be appearing in the bylines.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="accordion-panel">
                                <h2 id="panel4-title">
                                  <button class="accordion-trigger" aria-expanded="false" aria-controls="accordion1-content">
                                    What is your turn around time?
                                  </button>
                                </h2>
                                <div class="accordion-content" role="region" aria-labelledby="panel4-title" aria-hidden="true" class="accordion-content" id="panel4-content">
                                  <div>
                                    <p>For ~1000-word articles, I take 3-4days. For longer word counts, 7-14 days works well for me</p>
                                  </div>
                                </div>
                              </div>
                          
                              <div class="accordion-panel">
                                <h2 id="panel5-title">
                                  <button class="accordion-trigger" aria-expanded="false" aria-controls="accordion5-content">
                                    What does your rate cover?
                                  </button>
                                </h2>
                                <div class="accordion-content" role="region" aria-labelledby="panel5-title" aria-hidden="true" class="accordion-content" id="panel3-content">
                                  <div>
                                    <p>To ensure you get the best deliverable, I prepare a content outline, research competitor sites, incorporate relevant keywords and include necessary data and screenshots. I also offer up to two rounds of edits for delivered pieces.</p>
                                  </div>
                                </div>
                             </div>
                              
                            <div class="accordion-panel">
                                <h2 id="panel5-title">
                                  <button class="accordion-trigger" aria-expanded="false" aria-controls="accordion5-content">
                                    How do I make payment?
                                  </button>
                                </h2>
                                <div class="accordion-content" role="region" aria-labelledby="panel5-title" aria-hidden="true" class="accordion-content" id="panel3-content">
                                  <div>
                                    <p>I accept payment via Transferwise, PayPal and Crypto</p>
                                  </div>
                                </div>
                             </div>
                              
                          
                              
                              
                            </div>
                          
                           
                          
                          </div>

                         

                            
</section>
    
    
 