---
title: Portfolio
layout: 'base.njk'
---
  
   
    
      
 <section>
                <div class="padding-global">
                    <div class="max-width">
                       <div class="hero-component">
                          <div class="topbox"></div>
                          <div class="pot-top">
                            <h1>Portfolio</h1>
                            <p>
                                While collaborating with marketing teams, I played a pivotal role in executing their strategies. Here's a glimpse of the successes I've been a part of.
                            </p>
                          </div>

                          <div class="screenshots">
                            <h4>Won Google Featured Snippet, Ranked First Page on Google and Grew Traffic for Watcher Guru
                            </h4>
                            <div class="screen-image">
                                <img src="../assets/blog/Screenshot (3) (1).png">
                                <img src="../assets/blog/Screenshot (4) (1).png">
                            </div>
                          </div>
                       </div>
                    
                    </div>
                </div>
            </section>
            <section class="colored-bg">
                <div class="padding-global">
                    <div class="max-width">
                        <div class="portfolio-component">
                            <h2>
                                Some of my Recent Work
                            </h2>
                            <p class="text-bottom">
                                Take a look at some long-form articles I’ve recently written for B2B SaaS and Tech companies
                            </p>
                            <div class="dividers"></div>
                            <div class="work-holder">
                               <div class="work">
                                  <h4 class="work-title">
                                    Crypto News and Evergreen Content For Investopedia
                                  </h4>
                                  
                                  <a class="work-link" href="https://www.investopedia.com/tobi-opeyemi-amure-5524808" target="_blank">Read my articles</a>
                               </div>
                               <div class="work">
                                <h4 class="work-title">
                                  Forex Articles For Trading.biz  
                                </h4>
                                <a class="work-link" href="https://trading.biz/author/tobi-opeyemi-amure" target="_blank">Read my articles</a>
                             </div>
                             <div class="work">
                                <h4 class="work-title">
                                    Forex Article for Investing.com
                                </h4>
                        
                                <a class="work-link" href="https://www.investing.com/brokers/author/tobi-opeyemi-amure/" target="_blank">Read my article</a>
                             </div>
                             <div class="work">
                                <h4 class="work-title">
                                   Crypto Articles for Cryptopolitan
                                </h4>
                            
                                <a class="work-link" href="https://www.cryptopolitan.com/author/tobi/" target="_blank">Read my articles</a>
                             </div>
                              <div class="work">
                                <h4 class="work-title">
                                   Crypto Article for Watcher Guru

                                </h4>
                            
                                <a class="work-link" href="https://watcher.guru/news/author/thobhi" target="_blank">Read my article</a>
                             </div>
                             <div class="work">
                                <h4 class="work-title">
                                   iGaming article for Gaming Innovation

                                </h4>
                            
                                <a class="work-link" href="https://dappgambl.com/authors/tobi-opeyemi-amure/" target="_blank">Read my article</a>
                             </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="padding-global">
                   <div class="max-width">
                    <div class="hero-component flex">
                        <div class="flex-text">
                            <div class="tag"><p>My workflow
                            </p><div class="line-small"></div></div>
                            <h2>
                                <span class="text-span">
                                    Steps to Outranking Others
                                </span> 
                            </h2>
                            <p>
                                A clear working process is a prerequisite for success. Here’s a quick overview of how I start and complete a writing project.
                            </p>
                            <div class="call-box">
                                <h2>Prefer written communication? </h2>
                                <p>you can either complete the attached form or reach out directly at tobiwrites26@gmail.com. Expect a reply within 24 hours.

                                </p>
                                <button><a href="mailto:tobiwrites26@gmail.com? subject=Hello" target="_top">LET'S TALK</a></button>
                                <p>All queries are replied within 24hrs.</p>
                            </div>
                        </div>
                        <div class="flex-text border">
                            <div class="services flexed">
                                <h2>1</h2>
                                <div>
                                    <h4>
                                        Inroduction
                                    </h4>
                                    <p>
                                        We'll start with a conversation to understand your needs.

                                    </p>
                                </div>
                                
                            </div>
                            <div class="services flexed">
                                <h2>2</h2> 
                                <div>
                                    <h4>
                                        Preparation 
                                    </h4>
                                    <p>
                                        You'll receive a detailed questionnaire for insights.


                                    </p>
                                </div>
                               
                            </div>
                            <div class="services flexed"> 
                                <h2>3</h2> 
                                <div>
                                    <h4>
                                        Creation 
                                    </h4>
                                    <p>
                                        I draft content that aligns with your objectives.

                                    </p>
                                </div>  
                                
                            </div>
                            <div class="services flexed"> 
                                <h2>4</h2>
                                <div>
                                    <h4>
                                        Finalization
                                    </h4>
                                    <p>
                                        I'll refine the content based on your feedback.


                                    </p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                   </div>
                </div>
            </section>