---
title: Portfolio
layout: 'base.njk'
---
  
   
    
      
<section class="pro">
  <div class="flex-groups bot">
      <h2>OUR PAST<br>
          PROJECTS</h2>
      <p class="plus">100 PLUS PROJECTS</p>
  </div>
 
      

         <h3>NEWS</h3>

         <div class="port-pro">
              <div>
             <div><img src="../assets/blog/port-1.jpeg"/></div>
             <div> 
                <a href="https://www.investopedia.com/us-blacklists-tornado-cash-6385781"><p>Tornado Cash Joins the Club of Blacklisted Companies in the U.S.</p></a>
             </div>
         
         </div>
         
       
         <div>
             <div><img src="../assets/blog/ethe.jpeg"/></div>
             <div>
                 <a href="https://www.investopedia.com/us-blacklists-tornado-cash-6385781"><p>Ethereum 2.0 is On Horizon After Passing Another Test</p></a>
             </div>
         </div>
        
        
          <div>
              <div><img src="../assets/blog/usfed.jpeg"/></div>
              <div>
                 <a href="https://www.investopedia.com/crypto-banks-gets-access-to-banking-6499447"><p>U.S. Fed Opens The Door For Crypto Banks To Enter Traditional Banking System</p></a>
              </div>
          </div>
         
         
         <div>
             <div><img src="../assets/blog/back.png" /></div>
             <di>
                <a href="https://cryptocashflow.com/binance-backs-out-of-the-ftx-deal/"><p>Binance Backs Out of the FTX Deal</p></a>
             </div>
         </div>
         
         </div>

        <h3>EVERGREEN CONTENT</h3>

         <div class="port-pro">
              <div>
             <div><img src="../assets/blog/minnin.jpeg"/></div>
             <div> 
                <a href="https://www.investopedia.com/will-mining-die-with-ethereum-2-0-6666237"><p>Will Mining Die with Ethereum 2.0?</p></a>
             </div>
         
         </div>
         
       
         <div>
             <div><img src="../assets/blog/fomo.jpeg"/></div>
             <div>
                 <a href="https://www.investopedia.com/deal-with-crypto-fomo-6455103"><p>How to Deal With Crypto FOMO</p></a>
             </div>
         </div>
        
        
          <div>
              <div><img src="../assets/blog/advice.jpeg"/></div>
              <div>
                 <a href="https://www.investopedia.com/where-not-to-get-crypto-advice-6499675"><p>Where Not to Go for Crypto Advice?</p></a>
              </div>
          </div>
         
         
         <div>
             <div><img src="../assets/blog/paypal.jpg" /></div>
             <di>
                <a href="https://cryptocashflow.com/how-to-buy-bitcoin-on-paypal-a-step-by-step-guide/"><p>How To Buy Bitcoin on PayPal: A Step-by-Step Guide</p></a>
             </div>
         </div>
         
         </div>

        <h3>FOREX REVIEW</h3>

         <div class="port-pro">
              <div>
             <div><img src="../assets/blog/zulu.webp"/></div>
             <div> 
                <a href="https://trading.biz/brokers/zulutrade-review"><p>ZULUTRADE – FOREX BROKER REVIEW AND FEEDBACK-SOCIAL TRADING FEATURE</p></a>
             </div>
         
         </div>
         
       
         <div>
             <div><img src="../assets/blog/vintage.webp"/></div>
             <div>
                 <a href="https://trading.biz/brokers/vantage-fx-review"><p>VANTAGE FX, THE REGULATED AUSTRALIAN FOREX BROKER: REVIEW</p></a>
             </div>
         </div>
        
        
          <div>
              <div><img src="../assets/blog/saxo.webp"/></div>
              <div>
                 <a href="https://trading.biz/brokers/saxo-bank-review"><p>SAXO BANK – REVIEWS ON THE PREMIUM-LEVEL TRADING PLATFORM</p></a>
              </div>
          </div>
         
         
         <div>
             <div><img src="../assets/blog/cityindex.webp" /></div>
             <di>
                <a href="ttps://trading.biz/brokers/city-index-review"><p>CITY INDEX: REVIEW & TRADER FEEDBACK OF THE UK PLATFORM</p></a>
             </div>
         </div>
         
         </div>

        <h3>IGAMING/STOCKS</h3>

         <div class="port-pro">
              <div>
             <div><img src="../assets/blog/stocks.jpg"/></div>
             <div> 
                <a href="https://www.stockbossup.com/pages/post/14859/why-do-utilities-have-a-high-debt-to-equity-ratio"><p>Why Do Utilities Have a High Debt-to-Equity Ratio?</p></a>
             </div>
         
         </div>
         
       
         <div>
             <div><img src="../assets/blog/energy.png"/></div>
             <div>
                 <a href="https://www.stockbossup.com/pages/post/14866/what-is-the-difference-between-energy-and-utility-stocks"><p>What is the Difference Between Energy and Utility Stocks?</p></a>
             </div>
         </div>
        
        
          <div>
              <div><img src="../assets/blog/igame.jpg"/></div>
              <div>
                 <a href="https://dappgambl.com/casinos/pledoo-review/"><p>Pledoo Casino Review</p></a>
              </div>
          </div>
         
         
        
         
         </div>

        
        
      
    </div>
    
  </div>
</section>
<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse -%}
         {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</section> 
    
    
 